#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  background-color: #2b2b2b;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.main-header {
  width: 100%;
  margin: 0 auto;
  background-color: black;
  position: fixed;


  .header {
    max-width: 1280px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
  }

  .logo {
    display: flex;

    img {
      width: 170px;
    }
  }

  .menu {
    display: flex;

    .menu-itens {
      padding: 0 20px;
      color: white;
    }
  }
}

.main-destaque {
  width: 100%;
  margin: 0 auto;

  .destaque {
    width: 100%;
    margin: 0 auto;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.main-atuacao {
  width: 100%;
  margin: 0 auto;
  background-color: white;

  .atuacao {
    max-width: 1280px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;

    .atuacao-list {
      width: 30%;
      box-sizing: border-box;
    }
  }
}

.main-parceiros {
  width: 100%;
  margin: 0 auto;
  background-color: white;

  .parceiros {
    max-width: 1280px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
  }

  p {
    color: rgb(51, 51, 51);
  }
}

.main-advogados {
  width: 100%;
  margin: 0 auto;
  background-color: white;

  .advogados {
    max-width: 1280px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;

    p {
      color: rgb(51, 51, 51);
    }
  }
}

.main-contato {
  width: 100%;
  margin: 0 auto;
  background-color: white;

  .contato {
    max-width: 1280px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;

    p {
      color: rgb(51, 51, 51);
    }
  }
}